colorama
distro
h11
annotated-types
anyio
certifi
httpcore
httpx
idna
jiter
openai
pydantic
pydantic_core
python-dotenv
python-telegram-bot==22.7
fastapi==0.101.0
uvicorn[standard]==0.22.0
SQLAlchemy==2.0.43
asyncpg
alembic
python-multipart
slowapi
sniffio
tqdm
typing-inspection
typing_extensions
